<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= task.category.present? ? task.category.name : 'No Category yet' %>
  </p>

</div>
